<nav class="main-nav-bar py-0" style="background: #ffc107; box-shadow: 0 2px 8px rgba(0,0,0,0.04); z-index: 1020;">
    <div class="container">
        <ul class="nav justify-content-center fw-bold">
            <li class="nav-item">
                <a class="nav-link text-dark px-3" href="/blog">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark px-3" href="/forum">DIỄN ĐÀN</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link text-dark px-3 dropdown-toggle" id="historyDropdown" href="/forum"
                data-bs-toggle="dropdown" aria-expanded="false">
                    DIỄN ĐÀN
                </a>
                <ul class="dropdown-menu" aria-labelledby="historyDropdown">
                    <li><a class="dropdown-item" href="/forum?dynasty=ly">Nhà Lý</a></li>
                    <li><a class="dropdown-item" href="/forum?dynasty=tran">Nhà Trần</a></li>
                    <li><a class="dropdown-item" href="/forum?dynasty=le">Nhà Lê</a></li>
                    <li><a class="dropdown-item" href="/forum?dynasty=nguyen">Nhà Nguyễn</a></li>
                </ul>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link text-dark px-3 dropdown-toggle" id="characterDropdown" href="/store">
                    SHOP
                </a>
                <ul class="dropdown-menu" aria-labelledby="characterDropdown">
                    <li><a class="dropdown-item" href="/store#characters">Nhân vật</a></li>
                    <li><a class="dropdown-item" href="/store#print">In chữ</a></li>
                    <li><a class="dropdown-item" href="/store#symbols">Biểu tượng</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark px-3 dropdown-toggle" id="cultureDropdown" href="/custom-shirts/items">
                    CUSTOM ÁO
                </a>
                <ul class="dropdown-menu" aria-labelledby="cultureDropdown">
                    <li><a class="dropdown-item" href="/custom-shirts/items">Dùng Items</a></li>
                    <li><a class="dropdown-item" href="/custom-shirts/ai-generated">AI Tạo Áo</a></li>
                </ul>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-dark px-3" href="#">GIÁO TRÌNH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark px-3" href="#">SET MINIGAME</a>
            </li> -->
        </ul>
    </div>
</nav>